<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
  <package id="AutoMapper" version="3.3.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
</packages>